.header{
    background-color: rgb(19, 19, 67);
    color: white;
    display: flex;
    justify-content: space-between;
}
.background{
    background-color: rgb(19, 19, 67);
}
.left{
    margin-left: 40px;
    font-weight: 900;
    font-size: 12px;
}
.right{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    gap: 10px;
    margin-right: 20px;

}
.top{
    background-color: rgb(19, 19, 67);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.text{ 


}
.image{
display: flex;
justify-content: space-around;
}
.middle{border: 4px solid green;
    background-color: whitesmoke;
    color: navy;
}
.quote{border: 4px solid orange;
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#author{border: 4px solid whitesmoke
}

.bottom{border: 4px solid purple;
    background-color: whitesmoke;
    color: navy;
}
.footer{border: 4px solid yellow;
    background-color: navy;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}